.bg-color1{
  background-color: #fdfdfd;
  border-color: grey;
  border-style: solid;
  height: 50px;
  width: 50px;
}

.color1{
  background-color: #fdfdfd;
  height: 100%;
  width: 100%;
}

.color2{
  background-color: #f54844
}

.color3{
  background-color: #dbdad3;
}

.color4{
  background-color: #0c1520;
}

.bg-color2{
  background-color: #f54844;
  border-color: grey;
  border-style: solid;
  height: 50px;
  width: 50px;
}




.bg-color3{
  background-color: #dbdad3;
  border-color: grey;
  border-style: solid;
  height: 50px;
  width: 50px;
}

.bg-color4{
  background-color: #0c1520;
  border-color: grey;
  border-style: solid;
  height: 50px;
  width: 50px;
}

.flex-box{
  display: flex;
  flex-flow: row wrap;
}

.d-flex-box{
  display: flex;
  justify-content: flex-end;
}

.font{
  font-family: 'Anton', sans-serif;
}

.carousel-inner{
  width:100%;
  max-height: 500px !important;
}

.carousel-inner img {
  margin: auto;
}
.h-100px{
  height: 100px;
}
