<div id="sg_luxury" class="rounded border border-danger container">
  <div class="">
    <p class="text-red text-center font-size-25px pt-20px">GỢI Ý HƯỞNG THỤ</p>
  </div>

  <div class="d-flex justify-content-around container flex-wrap">
    {% for luxury in all_luxury %}
    <div class="card mb-3" style="width: 18rem;">
      <img class="card-img-top" src="{{luxury.picture}}" alt="Card image cap" height="300">
      <div class="card-body">
        <h5 class="card-title">{{luxury.name}}</h5>
        <p class="card-text">{{luxury.price}} VND</p>
        <a href="{{luxury.link}}" target="#" class="btn bg-gray text-red">Đặt mua</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
