<div class="center d-flex flex-column mtb-30">
  <p class="text-center font-weight-bold font-size-30px cl-xam ">Lập kế hoạch tài chính cho tương lai </p>
  <form id="form_index" class="col-md-6" method="post">
    <div class="form-group cl-xam">
      <label >Thu nhập mỗi tháng</label>
      <input required id="income" type="number" step="0.1" class="form-control text-right" placeholder="triệu đồng" name="income" value="" min="0" >
    </div>
    <div class="form-group cl-xam">
      <label >Mục tiêu tiết kiệm</label>
      <input required id="goal" type="number" step="0.1" class="form-control text-right" placeholder="triệu đồng" name="goal" value="" min="0" >
    </div>
    <div class="form-group cl-xam ">
      <label>Bạn muốn đạt mục tiêu sau bao lâu</label>
      <input required id="month" type="number" class="form-control text-right" placeholder="tháng" name="month" value="" min="0" >
    </div>
    <div class="form-group cl-xam ">
      <label>Số tiền TỐI ĐA có thể tiết kiệm mỗi tháng</label>
      <input required id="max" type="number" step="0.1" class="form-control text-right" placeholder="triệu đồng" name="max" value="" min="0" >
    </div>
    <div class="form-group cl-xam">
      <label>Chọn ngân hàng muốn gửi</label>
      <select id="bank" type="number" class="form-control text-right" name="bank" value="">
        <option value="0.067">Agirbank - Lãi suất 6.7% /năm</option>
        <option value="0.064">Vietcombank - Lãi suất 6.4% /năm</option>
        <option value="0.069">BIDV - Lãi suất 6.9% /năm</option>
        <option value="0.073">TPbank - Lãi suất 7.3% /năm</option>
      </select>
    </div>
    <div id="show" class="">

    </div>
    <div class=" d-flex justify-content-end mt-20">
      <button id="btn_xkq" form="form_index" class="btn bg-red text-white" type="submit">Xem kết quả</button>
    </div>
  </form>
</div>
