<!DOCTYPE html>

<!--
<div class="">

  <form method="post">
    <label> Thu nhập mỗi tháng của bạn </label>
    <br>
    <input type="text" name="income" value="" placeholder="triệu đồng">
    <br>

    <label> Số tiền mục tiêu của bạn </label>
    <br>
    <input type="text" name="goal" value="" placeholder="triệu đồng">
    <br>
    <label> Bạn muốn đạt mục tiêu sau bao lâu </label>
    <br>
    <input type="text" name="month" value="" placeholder="tháng">
    <br>
    <input type="submit" name="" value="Xem kết quả">

  </form>

</div> -->
<div class="center d-flex flex-column">
  <p class="text-center font-size-30px cl-xam ">Lập kế hoạch tài chính cho tương lai </p>
<form class="col-md-6">
  <div class="form-group cl-xam">
    <label >Thu nhập mỗi tháng của bạn</label>
    <input type="number" class="form-control text-right" id="exampleInputincome" aria-describedby="emailHelp" placeholder="triệu đồng">
  </div>
  <div class="form-group cl-xam">
    <label >Số tiền mục tiêu của bạn </label>
    <input type="number" class="form-control text-right" id="exampleInputgoal" placeholder="triệu đồng">
  </div>

  <div class="form-group cl-xam ">
    <label>Bạn muốn đạt mục tiêu sau bao lâu</label>
    <input type="number" class="form-control text-right" id="exampleInputmonth" placeholder="tháng">
  </div>

  <div class="justify-content-end d-flex">
    <!-- <button type="submit" class="btn cl-red text-light  ">Xem kết quả</button> -->
    <input type="submit" name="" value="Xem kết quả">
  </div>

</form>

</div>
