<div class="h-400 bg-gray center">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active bg-image">
        <img class="d-block w-100 h-400" src="../static/images/440.jpg" alt="First slide">
      </div>
      <div class="carousel-item bg-image">
        <img class="d-block w-100 h-400" src="../static/images/591.jpg" alt="Second slide">
      </div>
      <div class="carousel-item bg-image">
        <img class="d-block w-100 h-400" src="../static/images/O7QBRR0.jpg" alt="Third slide">
      </div>
    </div>
  </div>
</div>
