<style>
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:focus {
  outline: none
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #eee;
    max-height: 0;
    overflow: hidden;
    border-color: red;
    transition: max-height 0.2s ease-out;
}
</style>

<div class="d-flex flex-column align-items-center" style="height: 600px">

  <div class="d-flex justify-content-around mb-50 w-85" style="margin: 0px; padding: 0px">
    <div class="d-flex flex-column justify-content-center w-15">
      <div class="bg-bag-money h-255">
        <p class="pt-200px text-center font-weight-bold text-red" > NHU CẦU THIẾT YẾU</p>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center w-15">
      <div class="bg-bag-money h-255">
        <p class="pt-200px text-center font-weight-bold text-red" > GIÁO DỤC</p>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center w-15 ">
      <div class="bg-bag-money h-255">
        <p class="pt-200px text-center font-weight-bold text-red" > HƯỞNG THỤ</p>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center w-15 ">
      <div class="bg-bag-money h-255">
        <p class="pt-200px text-center font-weight-bold text-red" > TỪ THIỆN</p>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center w-15">
      <div class="bg-bag-money h-255">
        <p class="pt-200px text-center font-weight-bold text-red" > ĐẦU TƯ</p>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-around mb-50 w-85" style="margin-bottom: 100px">
    <div class="w-18">
      <button class="text-center accordion border-dange">{{n1}} triệu</button>
      <div class="panel">
        <br>
        <p>Ăn uống: {{food}} triệu</p>
        <p>Đi lại: {{go}} triệu</p>
        <p>Sinh hoạt phí: {{life}} triệu</p>
        <p>Khác: {{other}} triệu</p>
        <a href="#sg_eat">
          Chi tiết ...
        </a>
        <br>
        <br>
      </div>
    </div>

    <div class="w-18">
      <button class="text-center accordion border-dange">{{n2}} triệu</button>
      <div class="panel">
        <br>
        <p>Sách, truyện, tạp chí: {{book}} triệu</p>
        <p>Khóa học: {{training}} triệu</p>
        <a href="#sg_education">
          Chi tiết ...
        </a>
        <br>
        <br>
      </div>
    </div>

    <div class="w-18">
      <button class="text-center accordion border-dange">{{n3}} triệu</button>
      <div class="panel">
        <br>
        <p>Du lịch, spa, shopping</p>
        <a href="#sg_luxury">
          Chi tiết ...
        </a>
        <br>
        <br>
      </div>
    </div>

    <div class="w-18">
      <button class="text-center accordion border-dange">{{n4}} triệu</button>
      <div class="panel">
        <br>
        <p>Hạnh phúc là cho đi để cùng chia sẻ với những người kém may mắn nhé...</p>
        <a href="#sg_charity">
          Chi tiết ...
        </a>
        <br>
        <br>
      </div>
    </div>

    <div class="w-18">
      <button class="text-center accordion border-dange">{{n5}} triệu</button>
      <div class="panel">
        <br>
        <p>Đầu tư chứng khoán, kinh doanh</p>

        <a href="#sg_invest">
          Chi tiết ...
        </a>
        <br>
        <br>
      </div>
    </div>

  </div>

</div>
