<div class="d-flex center  mb-20">
  <form class="w-85" method="post">
    <div class="d-flex justify-content-around">

      <div class="w-15min="0" h-255">
        <div class=" h-255 bg-bag-money">
            <p class="pt-200px text-center font-weight-bold text-red" >NHU CẦU THIẾT YẾU</p>
        </div>
        <input type="number" step="1" class="form-control text-right" placeholder="%" name="n1" value="65" min="0">
      </div>

      <div class="w-15 h-255">
        <div class=" h-255 bg-bag-money">
            <p class="pt-200px text-center font-weight-bold text-red" >GIÁO DỤC ĐÀO TẠO</p>
        </div>
        <input type="number" step="1" class="form-control text-right" placeholder="%" name="n2" value="10" min="0">
      </div>


      <div class="w-15 h-255">
        <div class="h-255 bg-bag-money">
          <p class="pt-200px text-center font-weight-bold text-red" >HƯỞNG THỤ</p>
        </div>
        <input type="number" step="1" class="form-control text-right" placeholder="%" name="n3" value="10" min="0">
      </div>

      <div class="w-15 h-255">
        <div class="h-255 bg-bag-money">
          <p class="pt-200px text-center font-weight-bold text-red" >TỪ THIỆN</p>
        </div>
        <input type="number" step="1" class="form-control text-right" placeholder="%" name="n4" value="5" min="0">
      </div>

      <div class="w-15 h-255">
        <div class="h-255 bg-bag-money">
          <p class="pt-200px text-center font-weight-bold text-red" >ĐẦU TƯ</p>
        </div>
        <input type="number" step="1" class="form-control text-right" placeholder="%" name="n5" value="10" min="0">
      </div>

    </div>
    <div class=" d-flex center flex-column mt-65">
      <button class="btn bg-red text-white" type="submit">Xem kết quả</button>
      {% if error == 1 %}
      <div class="mt-10">
        <font color="red" size="3" class="text-center">Không được để ô trống</font>
      </div>
      {% elif error==2 %}
      <div class="mt-10">
        <font color="red" size="3" class="text-center">Tổng tỷ trọng các khoản chi phải bằng 100</font>
      </div>
      {% endif %}
    </div>

  </form>
</div>
