<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kế hoạch tiết kiệm của bạn </title>
  </head>
  <body>
    <h1>Mục tiêu tiết kiệm của bạn</h1>
    <form method="post">
      <label> Thu nhập mỗi tháng của bạn </label>
      <input type="text" name="income" value="">
      <br>

      <label> Mục tiêu tiết kiệm của bạn </label>
      <input type="text" name="saving" value="">
      <br>
      <label> Thời gian tiết kiệm (tháng) </label>
      <input type="text" name="month" value="">
      <br>
      <input type="submit" name="" value="Submit">

    </form>

  </body>
</html>
