git<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Input</title>
  </head>
  <body>
    <div id= "center">
      <div class="w-90">
        <div id= "center" class="h-100">
          <div class="w-70">

          </div>
        </div>
        <div class="h-500">
          <div class="w-70 h-100 d-flex justify-content-around">
            <div class="w-20">

            </div>
            <div class="w-70">

            </div>
          </div>
          <div class="w-70 h-100 d-flex justify-content-around">

          </div>
          <div class="w-70 h-100 d-flex justify-content-around">

          </div>
          <div class="w-70 h-100 d-flex justify-content-around">

          </div>
          <div class="w-70 h-100 d-flex justify-content-around">

          </div>
        </div>
      </div>

    </div>
  </body>
</html>
