<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Submit New Service</title>
  </head>
  <body>
    <form method="post">
      <h1> Sumbit New Service </h1>
      <label> Name </label>
      <input type="text" name="name" value="">
      <br>
      <br>
      <label> Type </label>
      <input type="text" name="type" list="typelist">
      <datalist id="typelist">
        <option value="food">
        <option value="book">
        <option value="luxury">
        <option value="charity">
        <option value="invest">
      </datalist>
      <br>
      <br>
      <label> Price </label>
      <input type="text" name="price" value="">
      <br>
      <br>
      <label> Link </label>
      <input type="text" name="link" value="">
      <br>
      <br>
      <label> Picture Link </label>
      <input type="text" name="picture" value="">
      <br>
      <br>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
